.custom-button {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  width: fit-content;
  border: none;
  color: white;
  background-color: #007F5F;
  &:disabled {
    opacity: 0.5;
    cursor: unset;
  }
}