.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #1A1A1A;
  padding: 20px;
  justify-content: space-between;
  z-index: 2;
  h2 {
    color: #E3E3E3;
    margin: 0;
  }
}

.home {
  margin-top: 70px;
  .loader {
    margin-top: 15px;
    circle {
      stroke-width: 5;
    }
    @media (max-width: 739px) {
      svg {
        width: 30px;
      }
      circle {
        stroke-width: 6;
      }
    }
  }
}