.modal-photo {
  &__body {
    display: block;
    max-width: 1200px;
    width: calc(100vw - 20px);
    height: calc(100vh - 110px);
    @media (min-width: 1024px) and (max-width: 1239px) {
      width: 984px;
    }
    @media (min-width: 740px) and (max-width: 1023px) {
      width: 644px;
    }
    @media (max-width: 739px) {
      height: calc(100vh - 10px);
    }

    &__img {
      display: flex;
      background-color: white;
      justify-content: center;
      align-items: center;
      height: calc(100% - 100px);
      border-bottom: 1px solid rgba(0, 0, 0, 0.175);
      box-sizing: content-box;
      margin: -12px -12px 0 -12px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .edit-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        right: 60px;
        top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
      }
      .prev-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 24px;
        top: calc(50% - 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
      }
      .next-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        right: 24px;
        top: calc(50% - 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
      }
    }
    &__content {
      margin-top: 10px;
      height: 100px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        position: fixed;
        right: -10px;
        top: 0px;
        bottom: 0px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        border-radius: 6px;
      }
      &::-webkit-scrollbar-track {
        background: #eeeeee;
      }
      .title {
        color: #555555;
        font-size: 19px;
        margin: 0 0 8px;
        font-weight: bold;
      }
      .description {
        color: #616161;
        font-size: 16px;
        margin: 8px 0;
      }
    }
  }
}
